Language: Cpp
BasedOnStyle: Google
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
KeepEmptyLinesAtEOF: true
ColumnLimit: 120
SeparateDefinitionBlocks: Always
Cpp11BracedListStyle: false

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

AlignArrayOfStructures: Right
AlignConsecutiveBitFields: Consecutive

BreakBeforeBinaryOperators: None

#BinPackArguments: false
#BinPackParameters: false
